.templateOptions {
  color: white;
  padding-bottom: $m-size;
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Remove default arrow */
  }

  .button {
    padding: $m-size;
    width: 50%;
    option {
      background-color: $light-blue;
      padding: $m-size;
      margin: $m-size;
    }
  }
}
